* {
  box-sizing: border-box;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.hero {
  background: #029f58;
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  /* height: 100%; */
}

.hero-main {
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  border-radius: 30%;
}

.logo-text {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul li {
  padding-right: 52px;
  font-size: 14px;
  /* line-height: 30px; */
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 70px;
  /* margin-bottom: 30px; */
  color: white;
}

.hero-content h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 130px;
  line-height: 94.6%;
  /* or 123px */

  text-align: center;
  letter-spacing: -0.06em;
}

.hero-content p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.store-buttons {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/**later **/
.store-buttons object svg {
  cursor: pointer;
}

.phones {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden;
  position: absolute; */
  /* overflow-x: hidden; */
}

.earl .hero-content h2 {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 40px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #007640;
  margin-right: 167px;
  max-width: 560px;
}

.earl-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.earl-logo-2 {
  position: absolute;
  left: 53px;
  transform: translateY(-103px);
  width: 169px;
}

.earl-left img {
  margin-right: -135px;
  transform: translateY(-174px);
  position: absolute;
  top: 40%;
  left: 0%;
}

.earl-left {
  position: relative;
}

.earl {
  background: #fafafa;
  background-image: url(/assets/images/earl.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  /* height: 100%; */
  overflow: hidden;
}

.hero_container {
  max-width: 1200px;
  margin: 0 auto;
}

.earl-content {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}

.earl-left-img {
  width: 150px;
  position: relative;
  left: 53px;
  -webkit-transform: translateY(-103px);
  -moz-transform: translateY(-103px);
  transform: translateY(-103px);
}

.earl .earl-left h2 {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 72px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #007640;
  margin-right: 167px;
  max-width: 560px;
  margin-left: 100px;
  margin-top: -40px;
}

.earl-text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 683px;
  margin-top: 20px;
}

.fans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fans .hero-main h2 {
  font-size: 68px;
}

.profiles {
  position: relative;
  top: 0;
  left: 0;
  width: 30%;
}
.profiles img {
  position: absolute;
  top: 0;
  left: 0;
}

.fans-text {
  max-width: 70%;
  margin-bottom: -40%;
}

.fans-text h2 {
  font-weight: 500;
  font-size: 68px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #121212;
  width: 60%;
}

.fans p {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #121212;
  opacity: 0.6;
  width: 60%;
}
.fans-button {
  background: #ffbb62;
  border-radius: 50px;

  padding: 5px 30px;
  height: 32px;
}

#fans {
  padding: 100px;
  height: 100%;
}

.fans-breaker {
  display: block;
  height: 30px;
  visibility: collapse;
}

/* #fans-2 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: normal;
}

.fans-2-text {
  width: 50%;
  background: #029f58;
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.fans-2-text h2 {
  font-weight: 500;
  font-size: 68px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #fff;
}

.chat {
  background: #fafafa;
  background-image: url(/assets/images/earl.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
} */

#fans-2 {
  /* background-image: url(/assets/images/hero.png);  */
  /* background: linear-gradient(to right, #029f58 0%, #029f58 50%, #fafafa 50%, #fafafa 100%); */
  background: #029f58;
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  /* height: 100%; */
}

.fans-2-content {
  display: flex;
}
.fans-2-text {
  width: 50%;
}

.chat {
  background: #fafafa;
  background-image: url(/assets/images/earl.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  width: 50%;
}

.fans-2-main {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.fans-2-text-wrapper {
  max-width: 600px;
  margin-left: auto;
  padding-top: 100px;
}

.chat-fans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
}

.fans-2-text-wrapper h2 {
  font-weight: 500;
  font-size: 68px;
  line-height: 100.1%;
  letter-spacing: -0.03em;
  color: #ffffff;
  max-width: 70%;
}
.fans-2-text-wrapper p {
  max-width: 70%;
  margin-top: 30px;
  color: white;
}

.chat-wrapper {
  max-width: 600px;
  margin-right: auto;
  max-width: 70%;
  margin-left: auto;
}
.top-bar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  align-items: center;
}

.profile-container {
  margin: 0 10px;
}

.bubble {
  background-color: white;
  margin-top: 30px;
  width: fit-content;
  max-width: 70%;
  padding: 20px;
}

.bubble-right {
  margin-left: auto;
  border-radius: 20px 20px 0px 20px;
}

.bubble-left {
  margin-right: auto;
  border-radius: 15px 15px 15px 0px;
}

.time {
  float: right;
  font-size: 12px;
}

.time-left {
  float: left;
  font-size: 12px;
}

.chat-bar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  align-items: center;
  margin-top: 30px;
}

.inner-chat-bar {
  width: 90%;
  background: #f3f3f3;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.influencer {
  display: flex;
  align-items: center;
}

.influencer-img {
  width: 600px;
  margin-left: auto;
  margin-right: 100px;
}
.influencer-text {
  width: 600px;
  margin-left: 100px;
}
.influencer-text h2 {
  font-weight: 500;
  font-size: 68px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #121212;
}

.influencer-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #121212;
  opacity: 0.6;
}

.influencer-button {
  background: #ff8c62;
  border-radius: 50px;

  padding: 5px 30px;
  height: 32px;
}

#filter {
  background: #202020;
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.filter-main {
  margin: 0 auto;
  display: flex;
}

.card {
  background: #272727;
  background-image: url(/assets/images/earl.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  width: 50%;
}

.filter-text {
  width: 50%;
}

.filter-text-wrapper {
  max-width: 600px;
  margin-left: 100px;
  padding-top: 100px;
}

.filter-text-wrapper h2 {
  font-weight: 500;
  font-size: 68px;
  line-height: 101.1%;
  /* or 69px */

  letter-spacing: -0.03em;

  color: #ffffff;
}
.filter-text-wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  color: #ffffff;

  opacity: 0.6;
}

.assurance-title {
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #007640;
  width: 30%;
  margin-bottom: 30px;
}

#assurance {
  padding: 130px 0;
}

.assurance-left {
  width: 600px;
}

.grid-item {
  margin: auto;
  width: 90%;
  display: flex;
}

.grid-right h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 116.6%;
  letter-spacing: -0.03em;
  color: #121212;
}

.grid-right p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #121212;
  opacity: 0.6;
}

.grid-left {
  margin-right: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-left-item {
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 150px;
  display: block;
  border-left: 1px solid black;
  width: 1px;
  opacity: 0.2;
}

.inner-circle {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  opacity: 0.2;
  background-color: black;
}


.asssurance-grid{
  display: flex;
}