* {
  box-sizing: border-box;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.hero {
  background: #029f58;
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  /* height: 100%; */
}

.hero-main {
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  border-radius: 30%;
}

.logo-text {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul li {
  padding-right: 52px;
  font-size: 14px;
  /* line-height: 30px; */
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 70px;
  /* margin-bottom: 30px; */
  color: white;
}

.hero-content h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 130px;
  line-height: 94.6%;
  /* or 123px */

  text-align: center;
  letter-spacing: -0.06em;
}

.hero-content p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.store-buttons {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/**later **/
.store-buttons object svg {
  cursor: pointer;
}

.phones {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden;
  position: absolute; */
  /* overflow-x: hidden; */
}

.earl .hero-content h2 {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 40px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #007640;
  margin-right: 167px;
  max-width: 560px;
}

.earl-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.earl-logo-2 {
  position: absolute;
  left: 53px;
  transform: translateY(-103px);
  width: 169px;
}

.earl-left img {
  margin-right: -135px;
  transform: translateY(-174px);
  position: absolute;
  top: 40%;
  left: 0%;
}

.earl-left {
  position: relative;
}

.earl {
  background: #fafafa;
  background-image: url(/assets/images/earl.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  /* height: 100%; */
  overflow: hidden;
}

.hero_container {
  max-width: 1200px;
  margin: 0 auto;
}

.earl-content {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}

.earl-left-img {
  width: 150px;
  position: relative;
  left: 53px;
  -webkit-transform: translateY(-103px);
  -moz-transform: translateY(-103px);
  transform: translateY(-103px);
}

.earl .earl-left h2 {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 72px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #007640;
  margin-right: 167px;
  max-width: 560px;
  margin-left: 100px;
  margin-top: -40px;
}

.earl-text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 683px;
  margin-top: 20px;
}

.fans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fans .hero-main h2 {
  font-size: 68px;
}

.profiles {
  position: relative;
  top: 0;
  left: 0;
  width: 30%;
}
.profiles img {
  position: absolute;
  top: 0;
  left: 0;
}

.fans-text {
  max-width: 70%;
  margin-bottom: -40%;
}

.fans-text h2 {
  font-weight: 500;
  font-size: 68px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #121212;
  width: 60%;
}

.fans p {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #121212;
  opacity: 0.6;
  width: 60%;
}
.fans-button {
  background: #ffbb62;
  border-radius: 50px;

  padding: 5px 30px;
}

#fans {
  padding: 100px;
}

.fans-breaker {
  display: block;
  height: 30px;
  visibility: collapse;
}
